{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card p-4">

<h3>
Add Product
</h3>

<form method="POST" enctype="multipart/form-data">

<input name="name"
class="form-control mb-3"
placeholder="Product Name"
required>

<input name="price"
class="form-control mb-3"
placeholder="Price"
required>

<textarea name="description"
class="form-control mb-3"
placeholder="Description"
required>
</textarea>

<label class="mb-1">Upload Product Image</label>

<input type="file"
name="image"
class="form-control mb-3"
accept="image/*"
required>

<button class="btn btn-dark w-100">
Add Product
</button>

</form>

</div>

</div>

</div>

{% endblock %}