{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
Your Cart
</h2>

<div class="row">

{% for product in products %}

<div class="col-md-4">

<div class="card p-3 mb-4">

{% if product.image %}

<img src="{{ url_for('static', filename='uploads/' + product.image) }}"
class="card-img-top mb-2"
style="height:200px; object-fit:cover;">

{% endif %}

<h5>
{{ product.name }}
</h5>

<p>
₹{{ product.price }}
</p>

<a href="{{ url_for('routes.remove_from_cart', product_id=product.id) }}"
class="btn btn-danger w-100 mt-2">

Remove from Cart

</a>

</div>

</div>

{% endfor %}

</div>

{% endblock %}